<div class="panel panel-default result">
  <div class="panel-body">
    <div class="panel-heading"><%= entry.query%> <%= entry.search_type%></div>
    <div class="row">
      <div class="col-md-1"><%= Result.human_attribute_name(:appearance) %>:</div>
      <div class="col-md-4"><%= entry.appearance%></div>
    </div>
    <div class="row">
      <div class="col-md-1"><%= SearchInstance.human_attribute_name(:position) %>:</div>
      <div class="col-md-4"><%= entry.position%></div>
    </div>
    <div class="row">
      <div class="col-md-1"><%= Result.human_attribute_name(:trend) %>:</div>
      <div class="col-md-4"><%= render partial: 'statistics/partial/trend', locals: {trend: entry.trend}%></div>
    </div>
  </div>
</div>