<!DOCTYPE html>
<html>
<head>
  <title>Ruby18365</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container">
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
  <div class="span2">
    <%= render 'partial/top_menu' %>
  </div>
  <div class="span9">
    <%= yield %>
  </div>
</div>
</body>
</html>
